  .gitignore
        kontr.rab/bin/
        kontr.rab/obj/Debug/net7.0/apphost.exe
        kontr.rab/obj/Debug/net7.0/kontr.rab.csproj.CoreCompileInputs.cache
        kontr.rab/obj/Debug/net7.0/kontr.rab.csproj.FileListAbsolute.txt
        kontr.rab/obj/Debug/net7.0/kontr.rab.dll
        kontr.rab/obj/Debug/net7.0/kontr.rab.genruntimeconfig.cache
        kontr.rab/obj/Debug/net7.0/kontr.rab.pdb
        kontr.rab/obj/Debug/net7.0/ref/
        kontr.rab/obj/Debug/net7.0/refint/